#merchandising{
    display: flex;
    width: 90%;
    padding-top: 12%;
   .item1{
    height: 166px;
    width: 40%;
    background-color: rgba(48, 72, 81, 1);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    h2{
        padding: 0 50px;
        color: white;
        font-size: 35px;
    }
   }
   .item2{
    margin: 0 50px;
    width: 60%;
    p{
        font-size: 20px;
        color: rgba(48, 72, 81, 1);
    }
    .items{
        display: flex;
        .item{
            width: 50%;
            padding: 0 10px;

            h5{
                color: rgba(160, 191, 27, 1);
                font-size: 19px;
                text-decoration:underline;
            }
            ul{
                list-style: none;
                color: rgba(164, 164, 164, 1);
                font-size: 18px;
                padding: 0;
                li{
                    padding-top: 10px ;
                }
            }
        }
    }
   }
  
   @media (max-width: 1400px) {
    flex-wrap: wrap;
    width: 100%;
    .item1{
        width: 60%;
       }
       .item2{
        width: 95%;
        p{
            text-align: center;
        }
        
        }
    }
    @media (max-width: 992px) { 
        padding-top: 20%;
        .item1{
            width: 100%;
        }
        .item2{
            .items{
                .item{
                    ul{
                      font-size: 14px;
                    }
                }
            }
          }
   }
   @media (max-width: 769px) { 
    padding-top: 25%;

    .item2{
        p{
            font-size: 16px;
        }
        .items{
            flex-wrap: wrap;
            .item{
                width: 90%;
                ul{
                  font-size: 14px;
                }
            }
        }
      }
}
@media (max-width: 576px) { 
    padding-top: 35%;
}


}